<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CalibrePath" value="C:\Program Files\Calibre2" />
    <add key="CalibreLibraryPath" value="\\OVISNAS\Calibre"/>
    <add key="SourceColumn" value="title"/>
    <add key="DestinationColumn" value="originaltitle" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>