<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CalibrePath" value="C:\Program Files\Calibre2" />
    <add key="CalibreLibraryPath" value="\\OVISNAS\Calibre"/>
    <add key="SourceColumn" value="title"/>
    <add key="SrcClmCustomClmFlg" value="false"/>
    <add key="DestinationColumn" value="title" />
    <add key="DestClmCustomClmFlg" value="false"/>
    <add key="CopyWhenIncludedFlg" value="false"/>
    <add key="ReplaceColumnDataFlg" value ="true"/>
    <add key="ReplaceColumnData" value ="(技術書典シリーズ(NextPublishing))"/>
    <add key="ConvertHalfWidth" value="false"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>